*.html linguist-language=HTML linguist-detectable -linguist-generated -linguist-vendored
*.css linguist-language=CSS linguist-detectable -linguist-generated -linguist-vendored
*.js linguist-language=JavaScript linguist-detectable -linguist-generated -linguist-vendored
